[App]
debug          = True
secret         = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
allowed_hosts  = *
site_uri       = https://dev.slashgif.com
static_root    = /var/www/slashgif.com
log_level      = DEBUG
log_file       = django.log

[Stats]
metric_host    = graphite.cssnr.com
metric_port    = 8125
metric_prefix  = slashgif.site.dev

[Slack]
oauth_url      = https://slack.com/oauth/pick_reflow
client_id      = 2214938173.54317488916
client_secret  = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
redirect_uri   = https://dev.slashgif.com/callback/
oauth_scopes   = commands
slack_app_url  = https://slack.com/apps/A1L9BECSY-slashgif-dev

[Discord]
hook_uri       = https://discordapp.com/api/webhooks/0000000000/XXXXXXXXXX

[Text]
install_success   = :white_check_mark: Successful Install
install_failure   = :no_entry: **WARNING**: Installation Failure.

meta_title        = SlashGIF
meta_author       = Shane Rice
meta_description  = Search For and Preview Random GIFs Before Posting to Slack.
meta_keywords     = GIF search,random GIF,Slack GIF,GIF Preview,Slash GIF,SlashGIF,GIF,GIFS,Giphy,Slack
