[App]
debug = True
secret = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
allowed_hosts = slashgif.com dev.slashgif.com
site_uri = https://dev.slashgif.com
static_root = /var/www/slashgif.com
log_level = DEBUG
log_file = /var/log/slashgifsite.log

[Slack]
oauth_url      = https://slack.com/oauth/pick_reflow
client_id      = 2214938173.54317488916
client_secret  = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
redirect_uri   = https://dev.slashgif.com/callback/
oauth_scopes   = commands
slack_app_url  = https://slack.com/apps/A1L9BECSY-slashgif-dev

[Discord]
hook_uri = https://discordapp.com/api/webhooks/0000000000/XXXXXXXXXX
