DJANGO_LOG_LEVEL=INFO
DJANGO_APP_LOG_LEVEL=DEBUG
DJANGO_DEBUG=True
DJANGO_ALLOWED=*
DJANGO_SESSION=1209600
DJANGO_SECRET_KEY=xxxxx
DJANGO_DATA_DIR=/data
DJANGO_STATIC_DIR=/data/static
DJANGO_LANGUAGE_CODE=en-us

STATSD_PREFIX=slashgif.site.dev
STATSD_PORT=8125
STATSD_HOST=localhost

SLACK_OAUTH_URL=https://slack.com/oauth/v2/authorize
SLACK_ACCESS_URL=https://slack.com/api/oauth.v2.access
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=
SLACK_REDIRECT_URI=
SLACK_OAUTH_SCOPES=commands
SLACK_APP_URL=

STATUS_SITE=https://status.slashgif.com/
DISCORD_HOOK_URL=https://discordapp.com/api/webhooks/55555/XXXXX
