{% extends "main.html" %}
{% load staticfiles %}
{% block title %}Random GIF Search and Preview for Slack{% endblock %}

{% block body %}

	<p class="lead text-center">Allows you to search for a random <mark>/gif</mark> and preview it, before sending it to the channel.</p>

	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<ul>
				<li><strong>New Slash Command:</strong> Slash command <mark>/gif</mark> will be added for searching GIF's.</li>
				<li><strong>GIF Preview:</strong> Allows you to preview your GIF before sending it to the channel.</li>
				<li><strong>Search Again:</strong> Instantly search for another GIF if you don't like the results.</li>
			</ul>
		</div>
	</div>

	<p></p>

	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>Example:</h4>
					<p><img src="{% static "images/gifs/example.gif" %}" class="img-responsive center-block" alt="SlashGIF Example" /></p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
