{% extends "main.html" %}
{% load staticfiles %}
{% block title %}Random GIF Search and Preview for Slack{% endblock %}

{% block body %}

	<p class="lead text-center">Allows you to search for a random GIF and preview it, before posting publicly.</p>

	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<ul>
				<li><strong>Slash Commands:</strong> Slash command <mark>/gif</mark> and <mark>/rif</mark> will be added for searching GIF's.</li>
				<li><strong>GIF Preview:</strong> Allows you to preview your GIF before sending it to the channel.</li>
				<li><strong>Search Again:</strong> Instantly search for another GIF if you don't like the results.</li>
				<p></p>
				<ul>
					<li>
						<mark>/gif</mark> searches the Giphy Image API: <a href="http://giphy.com/" target="_blank">www.giphy.com</a>
					</li>
					<li>
						<mark>/rif</mark> searches the Riffsy Image API: <a href="https://www.riffsy.com/" target="_blank">www.riffsy.com</a>
					</li>
				</ul>
			</ul>
		</div>
	</div>

	<p></p>

	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>Example:</h4>
					<p><img src="{% static "images/gifs/example.gif" %}" class="img-responsive center-block" alt="SlashGIF Example" /></p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
