{% extends "main.html" %}
{% load staticfiles %}
{% block title %}Random GIF Search and Preview for Slack{% endblock %}

{% block body %}

	<p class="lead text-center">Allows you to search for a random <mark>/gif</mark> and preview it, before sending it to the channel.</p>

	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">

			<ul class="nav nav-tabs">
				<li class="active"><a href="#features" data-toggle="tab" aria-expanded="true">Features</a></li>
				<li class=""><a href="#slack" data-toggle="tab" aria-expanded="false">Slack</a></li>
				<li class=""><a href="#about" data-toggle="tab" aria-expanded="false">About</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade active in" id="features">
					<p>
						Adds the <mark>/gif</mark> command to your team's Slack for all public and private channels:
					</p>
					<ul>
						<li><strong>All Public Channels:</strong> Allows you to preview your GIF before sending it to the channel.</li>
						<li><strong>Direct/Group Message Channels:</strong> No preview is available, please GIF responsibly.</li>
					</ul>
				</div>
				<div class="tab-pane fade" id="slack">
					<p>
						This app will modify your Slack in the following way:
					</p>
					<ul>
						<li><strong>New Slash Command:</strong> New slash command <mark>/gif</mark> will be added for searching GIF's.</li>
						<li><strong>Add BOT User:</strong> A Bot user @slashgif will be used when posting GIF's to public channels.</li>
					</ul>
				</div>
				<div class="tab-pane fade" id="about">
					<p>
						Inspired and powered by <a href="http://giphy.com/" target="_blank">Giphy</a>, SlashGIF allows you to
						post GIF's to public channels in Slack, without accidentally posting an offensive image. Many people have
						begun using Giphy, but due to the random nature of searches combined with crowd sourced tags, this can produce
						undesired results in enterprise environments. With SlashGIF, you never have to worry about unintentionally
						posting questionable or NSFW GIF's in public channels again.
					</p>
				</div>
			</div>

		</div>
	</div>

	<p></p>

	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>Example:</h4>
					<p><img src="{% static "images/gifs/example.gif" %}" class="img-responsive center-block" alt="SlashGIF Example" /></p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
