{% load staticfiles %}
{% load variables %}
{% site_vars as site_vars %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="icon" href="{% static "favicon.ico" %}">

		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
		<script src="{% static "js/jquery-1.12.4.min.js" %}"></script>
		<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

		<title>{{ site_vars.SITE_TITLE }} - {% block title %}{% endblock %}</title>

		<meta name="author" content="{{ site_vars.SITE_AUTHOR }}"/>
		<meta name="title" content="{{ site_vars.SITE_TITLE }}"/>
		<meta name="description" content="{{ site_vars.SITE_DESCRIPTION }}"/>
		<meta name="keywords" content="{{ site_vars.SITE_KEYWORDS }}">

		<meta name="google-site-verification" content="iH7unLdA7YG00zwgr9qzjNIsBZrVReR_IrwwDWhwSHM" />

		<meta property="og:author" content="{{ site_vars.SITE_AUTHOR }}">
		<meta property="og:title" content="{{ site_vars.SITE_TITLE }}">
		<meta property="og:description" content="{{ site_vars.SITE_DESCRIPTION }}">

		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ site_vars.SITE_URI }}">
		<meta property="og:image" content="{{ site_vars.SITE_URI }}{% static "images/slashgif.png" %}">
		<meta property="og:image:type" content="image/png">

		<link href="{% static "bootstrap/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">
	</head>
	<body>

		<div class="container">

			<p></p>
			<div class="jumbotron">
				<a href="/" title="{{ site_vars.SITE_TITLE }}">
					<img height="128" width="128" src="{% static "images/slashgif.png" %}" class="pull-right" alt="SlashGIF" />
				</a>
				<h1>{{ site_vars.SITE_TITLE }}</h1>
				<p class="lead">Random GIF Search and Preview for Slack...</p>
				<p><a href="{% url "addtoslack" %}">
					<img src="{% static "images/add_to_slack.png" %}" alt="Add to Slack" />
				</a></p>
			</div>

{#			<div class="row">#}
{#				<div class="col-sm-8 col-sm-offset-2">#}
{#					<div class="alert alert-warning">#}
{#						<strong>Giphy Issues:</strong> Giphy is currently not responding properly. Riffsy "/rif" is still working normally.#}
{#					</div>#}
{#				</div>#}
{#			</div>#}

			{% block body %}{% endblock %}

			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">

						<div class="col-sm-6">
							<p>
								<a href="{% url "home" %}">Home</a> |
								<a href="{% url "support" %}">Support</a> |
								<a href="{% url "privacy" %}">Privacy Policy</a> |
								<a href="{{ site_vars.SLACK_APP_URL }}" target="_blank">View at Slack</a>
							</p>
						</div>

						<div class="col-sm-6">
							<p class="text-right"><strong>{{ site_vars.SITE_AUTHOR }}</strong> |
								<script type="text/javascript" src="{% static "js/shane-email.js" %}"></script>
							</p>
						</div>

					</div>
				</div>
			</div>

    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static "bootstrap/js/ie10-viewport-bug-workaround.js" %}"></script>

  </body>
</html>
