{% extends "main.html" %}
{% load staticfiles %}
{% block title %}Privacy Policy{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<h1>Privacy Policy</h1>
			<blockquote>

				<p>
					SlashGIF only maintains a database with your team's Authorization Token and <strong>does not</strong> collect
					or store <strong>any</strong> information about commands, searches, or usage statistics.
					Additionally, no personally identifiable information, usernames, or email addresses are collected or stored.
				</p>

				<p>
					SlashGIF does not provide, tag, or have any responsibility for the images posted by this App.
					All images are sourced from publicly available API's which can change at any time without notice.
				</p>

				<p>
					By adding SlashGIF to your Slack service, you acknowledge that you understand that SlashGIF is not responsible for any of the images posted by this App or individuals on your team.
				</p>

				</blockquote>

				<p>
					If you have any questions or concerns, please send feedback to:
				</p>
				<ul>
					<li>
						<strong>Feedback:</strong> <script type="text/javascript" src="{% static "js/feedback-email.js" %}"></script>
					</li>
				</ul>

				<div class="row">
					<div>
						<p><img src="{% static "images/gifs/privacy.gif" %}" class="img-responsive center-block" alt="Help..." /></p>
					</div>
				</div>

		</div>
	</div>

{% endblock %}
