{% extends "main.html" %}
{% load staticfiles %}
{% block title %}Success{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="alert alert-success">
				<p><strong>Success!</strong></p>
				<p>SlackGIF has been added to your team's Slack.</p>
				<p>
					Please send any feedback or suggestions to:
					<strong><script type="text/javascript" src="{% static "js/feedback-email.js" %}"></script></strong></p>
				<p>
					If you need additional assistance, please contact support at:
					<strong><script type="text/javascript" src="{% static "js/support-email.js" %}"></script></strong>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div>
			<p><img src="{% static "images/success.gif" %}" class="img-responsive center-block" alt="Successfully Added SlashGIF" /></p>
		</div>
	</div>

{% endblock %}
