{% extends "main.html" %}
{% load staticfiles %}
{% block title %}Support{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">

			<h1>Support</h1>
			<blockquote>
			<p>
				Please check the service status page before contacting support:
			</p>
			<ul>
				<li>
					<strong>SlashGIF Status Page:</strong>
					<a href="http://status.slashgif.com" title="SlashGIF Status" target="_blank">status.slashgif.com</a>
				</li>
			</ul>
			</blockquote>

			<p>
				If everything is online and you are still having issues installing or using the SlashGIF service, please contact support via email:
			</p>

			<ul>
				<li>
					<strong>Support: </strong><script type="text/javascript" src="{% static "js/support-email.js" %}"></script>
				</li>
			</ul>

			<p>
				You may also send any general questions, comments, concerns or feedback to:
			</p>

			<ul>
				<li>
					<strong>Feedback: </strong><script type="text/javascript" src="{% static "js/feedback-email.js" %}"></script>
				</li>
			</ul>

		</div>
	</div>

	<div class="row">
		<div>
			<p><img src="{% static "images/help.gif" %}" class="img-responsive center-block" alt="Help..." /></p>
		</div>
	</div>

{% endblock %}
