{% extends "main.html" %}
{% block title %}Install Cancelled{% endblock %}
{% load static %}

{% block body %}

<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
        <div class="alert alert-info">
            <h4>Install Cancelled.</h4>
            <p>The SlashGIF installation process has been cancelled.</p>
            <p>To try the installation again, please follow this link:
                <strong><a href="{% url "addtoslack" %}" title="Install SlashGIF">Install SlashGIF</a></strong></p>
            <p>If you have any questions or concerns, please send feedback to:
                <strong><script type="text/javascript" src="{% static "main/email/feedback-email.js" %}"></script></strong></p>
        </div>
        <h1>More Information</h1>
        <p>Our Privacy Policy is made available here:</p>
        <ul><li>
            <strong><a href="{% url "privacy" %}" title="Privacy Policy">Privacy Policy</a></strong>
        </li></ul>
        <p>Our support page and contacts can be found here:</p>
        <ul><li>
            <strong><a href="{% url "support" %}" title="Support">Support</a></strong>
        </li></ul>
        <p><img src="{% static "images/gifs/cancel.gif" %}"
                class="img-responsive mx-auto d-block"
                alt="Kitten"></p>
    </div>
</div>

{% endblock %}
