{% extends "main.html" %}
{% block title %}Random GIF Search and Preview for Slack{% endblock %}
{% load static %}

{% block body %}

	<p class="h5 text-center">Allows you to search for a random GIF and preview it, before posting publicly.</p>

	<div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
			<ul>
				<li><strong>Slash Commands:</strong> Slash command <mark>/gif</mark> and
                    <mark>/rif</mark> will be added for searching GIF's.</li>
				<li><strong>GIF Preview:</strong> Allows you to preview your GIF before sending it to the channel.</li>
				<li><strong>Search Again:</strong> Instantly search for another GIF if you don't like the results.</li>
				<ul>
					<li>
						<mark>/gif</mark> searches the Giphy Image API:
                        <a href="http://giphy.com/" target="_blank">www.giphy.com</a>
					</li>
					<li>
						<mark>/rif</mark> searches the Tenor Image API:
                        <a href="https://www.tenor.co/" target="_blank">www.tenor.co</a>
					</li>
				</ul>
			</ul>
		</div>
	</div>

	<div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
            <h3>Example:</h3>
			<div class="card">
				<div class="card-body">
					<p><img src="{% static "images/gifs/example.gif" %}"
                            class="img-fluid mx-auto d-block"
                            alt="SlashGIF Example"></p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
